html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}


/* Body */
body, p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0 auto;
}


body {
    font-family: 'Oswald', sans-serif;
     font-weight: 300;
     font-size: 1.2rem;
     line-height: 1.4;
     color: #050505;
     background-color: white;
     background-image: url(/images/body_gradient.gif);
     background-repeat: repeat-x;
 }


 /* box model fix here */
* { margin: 0px;
    padding: 0px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: inherit;
}


/* Navigation */
ul.nav {
    margin:0;
    padding:15px;
    list-style:none;
    height:65px; line-height:36px;
    background:darkgreen; /* you can change the backgorund color here. */
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2rem;
    /* font-weight: 600; */
    position: relative;
}
ul.nav li {
    border-right:1px solid lightgray; /* you can change the border color matching to your background color */
    float:left;
}
ul.nav a {
    display: block;
    padding:0 30px;
    color:white;
    text-decoration:none;
}
ul.nav a:hover,
ul.nav li.current a {
    background:gray;
    color: white;
    font-weight: 600;
}

ul.nav li.active a {
    background-color: white;
    /* height: 50px; */
    color: black;
    font-weight: 800;
    font-size: 2rem;
}


/* Welcome */

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    /* background-color: #000; */
    background-image: linear-gradient(62deg, #d1d0d0 0%, #313131 100%);
    /* border: solid black 5px; */
}

#welcome-section > h1 {
    font-size: 7rem;
    font-weight: 800;
    font-style: none;
    color: white;
    -webkit-text-stroke: 2px black;
  }
  
#welcome-section > p {
    font-size: 5rem;
    font-weight: 800;
    font-style: none;
    color: black;
    color: rgb(206, 161, 15);
    -webkit-text-stroke: 2px black;
  }

  hr {
    border: none;
    border-top: 20px double rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    overflow: visible;
    text-align: center;
    height: 5px;
}

/* About */

/* #about-section > h1 {
    font-size: 5rem;
    font-weight: 800;
    font-style: none;
    color: white;
    -webkit-text-stroke: 2px black;
    margin-left: 20px;
  } */

 #favorite-section > h2 {
    margin: 20px;
    border-bottom: 2px solid lightgray;
    text-shadow: 1px 1px 1.5px #000;
    font-size: 5rem;
    font-weight: 800;
    font-style: none;
    color: white;
    -webkit-text-stroke: 2px black;
}
  
#favorite-section > p {
    font-size: 3rem;
    font-weight: 100;
    font-style: none;
    color: black;
    margin: 20px;
  }


/* Favorite Dramas */

.dramas-section {
    text-align: center;
    justify-content: center;
    padding: 10rem 2rem;
    background:rgb(221, 240, 252);
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: 500;
}

/* .dramas-section-header {
    max-width: 850px;
    font-size: 37px;
    margin: 0 auto 1rem auto;
    -webkit-text-stroke: 1px black;
    text-decoration: underline;
    padding: 5rem;
} */

.dramas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-gap: 2.2rem;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 6rem;
  margin: 0 auto 1 rem auto;
  padding: 5rem;
}

.dramas-grid > a:hover {
    background:darkgreen;
    padding: 10px;
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    border-color: #8a8a8a;
    border-width: 10px;
    border-style: inset;
  }


@media (max-width: 30.625em) {
    favorite-section {
    padding: 6rem 1rem;
}

.dramas-grid {
    grid-template-columns: 1fr;
}
}

.dramas {
    background: rgb(181, 183, 184);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bold;
    color: black;
    text-align: center;
    height: 450px;
}

.code {
    color: black;
    transition: 0.3s ease-out;
}

.dramas:hover .code {
    color: rgb(206, 161, 15);
    font-style: normal;
    font-size: 5rem;
}

.dramas-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: contain;
}

.dramas-title {
    font-size: rem;
    padding: .5rem 0rem;
}



  /* Footer */
  footer {
    font-weight: 300;
    font-size: 3rem;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 2rem;
    background:  darkgreen;
    color: white;
    margin-top: 50px;
}


/*---OTHER---*/
div.keepOpen {
    clear: both;
}

/*---WRAPPER---*/

div#wrapper {
    margin: 0 auto;
    max-width: 980px;
    box-shadow: 0 0 10px #777;
}